.requirements {
    flex-direction  : column;
    padding-top     : 143px;
    min-height      : 721px;
    background-color: #fff;

    &__title {
        font-size: 49px;
    }

    &__first-column {
        padding-left: 25px;
    }

    &__second-column {
        padding-left: 50px;
    }

    &__content-container {
        display    : flex;
        padding-top: 57px;
    }

    &__img-container {
        padding-top: 5px;
        width      : 339px;

        &_img-size {
            width: 100%;
        }
    }
}

.text {
    &__description {
        font-size  : 24px;
        line-height: 29px;
    }

    &__article {
        padding-top: 22px;
    }

    &__btn {
        cursor     : pointer;
        padding-top: 30px;
        color      : #ef5b4c;

        &:hover {
            color: #ff0000;
        }
    }
}

@media (max-width: 991px) {
    .requirements {
        min-height : 656px;
        padding-top: 106px;

        &__title {
            font-size: 39px;
        }

        &__content-container {
            padding-top: 60px;
        }

        &__first-column {
            padding: 0;
        }

        &__second-column {
            padding-left: 30px;
        }

        &__img-container {
            width: 247px;
        }
    }
}


@media (max-width: 767px) {
    .requirements {
        padding-top   : 70px !important;
        padding-bottom: 73px !important;

        &__title {
            font-size: 29px;
        }

        &__content-container {
            display    : block;
            padding-top: 23px;
        }

        &__img-container {
            padding-left : 25px;
            padding-right: 25px;
            width        : inherit;
        }

        &__second-column {
            padding-top  : 35px;
            padding-left : 5px;
            padding-right: 5px;
        }
    }

    .text {
        &__btn {
            display        : flex;
            justify-content: center;
        }
    }
}