.requirements {
    flex-direction  : column;
    padding-top     : 143px;
    min-height      : 721px;
    background-color: #fff;

    &__title {
        font-size: 49px;
    }

    &__first-column {
        padding-left: 25px;
    }

    &__second-column {
        padding-left: 50px;
    }

    &__content-container {
        display    : flex;
        padding-top: 57px;
    }

    &__img-container {
        padding-top: 5px;
        width      : 339px;

        &_img-size {
            width: 100%;
        }
    }
}

.text {
    &__description {
        font-size  : 24px;
        line-height: 29px;
    }

    &__article {
        padding-top: 22px;
    }

    &__btn {
        cursor : pointer;
        padding: 30px 0;
        color  : #ef5b4c;

        &:hover {
            color: #ff0000;
        }
    }
}

@media (max-width: 991px) {
    .requirements {
        min-height : 656px;
        padding-top: 106px;

        &__title {
            font-size: 39px;
        }

        &__content-container {
            padding-top: 60px;
        }

        &__first-column {
            padding: 0;
        }

        &__second-column {
            padding-left: 30px;
        }

        &__img-container {
            width: 247px;
        }
    }
}