.header {
    margin          : 0;
    position        : sticky;
    top             : 0;
    left            : 0;
    z-index         : 1000;
    background-color: #fff;
    height          : 60px;

    &__container {
        display        : flex;
        justify-content: space-between;
        padding        : auto 0;
        height         : 100%;
    }

    &__logo {
        display    : flex;
        align-items: center;
        cursor     : pointer;
    }
}

.menu {
    &__list {
        display        : flex;
        align-items    : center;
        list-style-type: none;
        height         : 100%;
        margin         : 0
    }

    &__link.btn {
        font-size      : 14px !important;
        text-decoration: none !important;
        color          : #000 !important;
        padding-right  : 0;
        padding-left   : 27px;
        box-shadow     : none !important;

        &:hover {
            color: #DC143C !important;
        }
    }
}