.item-wrapper {
    display        : flex;
    justify-content: center;
}

.item {
    width: 216px;

    &__photo {
        img {
            border       : 2px #fff solid;
            border-radius: 50%;
            width        : 75px;
        }
    }

    &__name {
        padding-top: 14px;
        font-size  : 24px;

        &_cut {
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
        }
    }
}

.email {
    cursor  : pointer;
    position: relative;

    &__container {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
    }

    &__tooltip {
        position        : absolute;
        word-wrap       : break-word;
        visibility      : hidden;
        left            : 0px;
        top             : 40px;
        background-color: rgba($color: #000, $alpha: .8);
        color           : #fff;
        padding         : 5px 10px;
        border-radius   : 5px;
        z-index         : 3;
        width           : 216px;
    }

    &:hover &__tooltip {
        visibility: visible;
    }
}