.thirdBlock {
    width           : 100%;
    min-height      : 100vh;
    background-color: #f9f9f3;
    text-align      : center;

    .contentContainer {
        padding: 150px 0;
    }

    .second-row {
        margin: 15px;
    }

    .items {
        padding              : 50px 0;
        display              : grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap             : 3em;

        .name {
            margin     : 10px 0;
            font-size  : 24px;
            line-height: 29px;
        }

        .user-item {
            margin-top: 10px;
        }
    }

    .btn {
        background-color: #ef5b4c;

        .text {
            font-weight: 500;
            padding    : 0 50px;
        }
    }
}

.fourthBlock {
    min-height      : 100vh;
    background-color: #fff;
    text-align      : center;

    .contentContainer {
        padding: 150px 0;

        .second-row {
            margin: 15px;
        }
    }

    .btn {
        background-color: #ef5b4c;
        margin          : 15px;

        .text {
            padding    : 0 50px;
            font-weight: 500;
        }
    }
}

.footer {
    background-color: #fff;
    text-align      : center;
    border-top      : 1px solid rgb(226, 226, 226);
    padding         : 20px;
}








$minwidth : 360px;
$mw       : 1170;

.wrapper {
    min-width: $minwidth;
    max-width: 2560px;
    background-color: gray;
}

.container {
    max-width: $mw + px;
    margin   : 0 auto;  // ?????
    padding  : 0 30px !important;
}
