.site-container {
    background-color: gray;
}

.main-container {
    max-width: 1170px;
    min-width: 360px;
    margin   : 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.content-container {
    padding    : 30px;
    display    : flex;
    align-items: center;
}

.btn-sing-up {
    &__text {
        padding-left : 46px;
        padding-right: 46px;
    }
}

.title {
    text-align: center;
    font-size : 50px;
}