.site-container {
    background-color: gray;
}

.main-container {
    max-width: 1170px;
    padding  : 0 73px;
    margin   : 0 auto;

    font-family: 'Open Sans', sans-serif;
}

.content-container {
    padding    : 30px;
    display    : flex;
    align-items: center;
}

.btn-reset {
    border          : none;
    background-color: transparent;
    cursor          : pointer;
    padding         : 0;
}

.btn-sing-up {
    &__text {
        padding-left : 46px;
        padding-right: 46px;
    }
}

.title {
    text-align: center;
    font-size : 50px;
}