.site-container {
    background-color: gray;
}

.main-container {
    max-width: 1170px;
    padding  : 0 73px;
    margin   : 0 auto;

    font-family: 'Open Sans', sans-serif;
}

.btn-reset {
    border          : none;
    background-color: transparent;
    cursor          : pointer;
    padding         : 0;
}

.content-container {
    padding: 0 30px;
}